.btn {
  align-self: flex-start;
  @media only screen and (max-width: 43.75em) {
    align-self: center;
  }

  &:link,
  &:visited {
    display: inline-block;

    font-size: 1rem;
    color: $color-primary;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 0.75rem 3.2rem 0.75rem 3.2rem;
    border-radius: 3rem;
    box-shadow: $box-shadow-1;
    transition: all 0.4s;

    @media only screen and (max-width: 43.75em) {
      margin-bottom: 2rem;
      padding: 0.75rem 5rem 0.75rem 5rem;
    }
  }

  &:hover,
  &:active {
    background-color: $color-secondary;
    color: rgb(255, 255, 255);
    transform: translateY(-1px);
  }
}
